<section id="home-group-logo">
	<div class="container">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<%= image_tag 'Logo_GROUPE_2016.png', alt: 'Groupe Rossignol Logo', class: 'img-fluid' %>
			</div>
		</div>
	</div>
</section>

<section id="home-welcome-text">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="lead">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				</p>
			</div>
			<div class="col-md-6">
				<p class="lead">
					Duis aute irure dolor in reprehenderit in volupt ate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid">
	<div class="row">
		<div class="col-md home-brand text-center" id="group-home-rossignol">
			<%= image_tag 'Rossignol_Line_RED.png', alt: 'Rossignol Logo', class: 'img-fluid mx-auto' %> 
		</div>
		<div class="col-md home-brand text-center" id="group-home-dlllk">
			<%= image_tag 'DLLK_2017_horizontal_color.png', alt: 'Dynastar | Lange | LOOK | Kerma logos', class: 'img-fluid mx-auto' %>
		</div>
	</div>
</div>






<%#= render '/refinery/content_page' %>

