

<% cache [I18n.locale, 'main_menu', @page, Refinery::Page.fast_menu.map(&:updated_at).max] do %>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">

			<%= logo_picker(@page) %>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

	  	<%= menu_picker(@page.title, @page.parent_id, @page.root.id) %>

	  </div>
	</nav>
<% end %>


<script>
	var listLinks = document.querySelectorAll('.nav-item a');  
  for (i = 0; i < listLinks.length; i++) {
  	listLinks[i].classList.add('nav-link');
  } 
</script>